$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}

$strength-color: #D46A6A; 
$dexterity-color: #55AA55;
$constitution-color: #D49A6A;
$intelligence-color: #4F628E;
$wisdom-color: #764B8E;
$charisma-color: #D4D46A;

@mixin remove-list-styles {
  padding-left: 0;
  list-style-type: none;
}

@mixin clickable {
  cursor: pointer;
}

/* Character list */
#characterlist {
  overflow-x: hidden;

  > ul {
    @include remove-list-styles;

    > li {
      > div {
        width: 100%;
        text-align: center;
      }
    }
  }
}

/* Ability and ability modifier styling */
@mixin abbreviation-underlay($abbr) {
  content: $abbr;
  position: absolute;
  display: block;
  width: 100%;
  z-index: -1;
  text-align: center;
  font-weight: normal;
  color: #fff;
  opacity: 0.5;
}

#infopanel {
  &::after {
    content: '';
    display: table;
    clear: both;
  }

  list-style-type: none;
  padding-left: 0;

  > li {
    @include clickable;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    position: relative;
    z-index: 10;
    color: #111;

    line-height: 30px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    float: left;
    padding-left: 50%;

    > .stat-abbr {
      display: block;
      width: 50%;
      right: 50%;
      position: absolute;
      z-index: -1;
      font-weight: normal;
    }

    &.hp {
      text-align: center;
      color: red;

      > .stat-abbr {
        width: 50%;
        right: 50%;
        color: lighten(#000, 15);
      }
    }

    &.ability {
      width: 50%;
      padding: 0;

      @mixin ability-colors($color) {
        background-color: $color;
        
        &-modifier {
          background-color: lighten($color, 20);
        }

        > .stat-abbr {
          color: darken($color, 15);
        }
      }
      
      > .stat-abbr {
        right: 0;
        width: 100%;
      }

      &-strength {
        @include ability-colors($strength-color);
      }

      &-dexterity {
        @include ability-colors($dexterity-color);
      }

      &-constitution {
        @include ability-colors($constitution-color); 
      }

      &-intelligence {
        @include ability-colors($intelligence-color); 
      }

      &-wisdom {
        @include ability-colors($wisdom-color); 
      }

      &-charisma {
        @include ability-colors($charisma-color); 
      }
    }

  }
}

#chainlinks {
  $arrow-body-height: 30px;
  $arrow-tip-height: 10px;
  $arrow-width: 30px;
  $arrow-color: #4f4;
  $arrow-overlap: 0px;
  $chain-link-height: 60px;
  $chain-link-spacing: 30px;
  $chain-link-padding: 10px;
  $transition-timing-function-enter: ease-out;
  $transition-timing-function-move: ease;
  $transition-timing-function-leave: ease-out;
  $stagger-delay: 0.1s;
  @mixin animation-stagger($event) {
    &.ng-stagger-#{$event} {
      transition-delay: $stagger-delay;
    }
  }

  > ul {
    @include remove-list-styles;

    > li {
      @include clickable;
      position: relative;
      display: block;
      height: $chain-link-height;
      background-color: #ccc;
      padding: $chain-link-padding;
      margin-bottom: $chain-link-spacing;
      border-radius: 10px;

      text-align: center;
      font-weight: bold;
      color: #fff;

      > .chainlinkresult {
        display: block;
        position: absolute;
        bottom: $arrow-body-height * -1 + $arrow-overlap;
        left: 50%;
        width: $arrow-width;
        height: $arrow-body-height;
        margin-left: ($arrow-width/-2);
        line-height: $arrow-body-height;
        background-color: $arrow-color;
        z-index: 10;

        /* Lil triangles to make an arrow */
        &::before {
          content: ' ';
          display: block;
          position: absolute;
          bottom: 100%;
          width: 0;
          height: 0;
          border-left: $arrow-width/2 solid $arrow-color;
          border-right: $arrow-width/2 solid $arrow-color;
          border-top: $arrow-tip-height solid transparent;
        }
        &::after {
          content: ' ';
          display: block;
          position: absolute;
          top: $arrow-body-height;
          width: 0;
          height: 0;
          border-left: $arrow-width/2 solid transparent;
          border-right: $arrow-width/2 solid transparent;
          border-top: $arrow-tip-height solid $arrow-color;
        }
      }
      /* Animation for chainlinks */
      $enter-duration: 1s;
      $move-duration: 0.5s;
      $leave-duration: 1s;

      &.ng-enter {
        transition: all $enter-duration $transition-timing-function-enter;
        height: 0px;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;

        &-active {
          height: $chain-link-height;
          padding-top: $chain-link-padding;
          padding-bottom: $chain-link-padding;
          margin-bottom: $chain-link-spacing;
        }

        @include animation-stagger(enter);
      }

      &.ng-move {
        transition: 0.3s $transition-timing-function-move all;
        @include animation-stagger(move);
      }

      &.ng-leave {
        transition: $leave-duration $transition-timing-function-leave all;
        height: $chain-link-height;
        padding-top: $chain-link-padding;
        padding-bottom: $chain-link-padding;
        margin-bottom: $chain-link-spacing;

        > .chainlinkresult {
          display: none;
        }

        &-active {
          height: 0;
          padding-top: 0;
          padding-bottom: 0;
          margin-bottom: 0;
        }

        @include animation-stagger(leave);
      }
    }
  }

  > #chain-link-add {
    border: none;
    background-color: transparent;
    width: 50%;
    margin-top: $arrow-tip-height * 2;
    padding-top: $arrow-tip-height;
    border-top: 1px solid #ccc;
    
    font-size: 30px;
    line-height: 30px;
  }
}
