/* Coolors Exported Palette - coolors.co/ffd6bf-75503a-281b14-c90000-ff7b00 */

$color1: #ffd6bf;
$color2: #75503a;
$color3: #281b14;
$color4: #c90000;
$color5: #ff7b00;

$bg-light: $color1;
$bg-med: $color2;
$bg-dark: $color3;
$primary: $color4;
$secondary: $color5;

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  padding: 0;
}

/* Custom page header */
.header {
  /* Make the masthead heading the same height as the navigation */

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  border-top: 1px solid $gray-lighter;
  margin-top: 10px;
  padding-top: 10px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}

@mixin flat-select($chrome-color, $background-color:"") {
  border-bottom: 1px solid $chrome-color;
  overflow: hidden;
  position: relative;
  color: $chrome-color;

  > select {
    width: 200%;
    padding: 0;
    border: none;
    background-color: transparent;
    float: left;
  }

  &::after {
    content: '\25BC';
    position: absolute;
    overflow: visible;
    display: block;
    right: 0;
    width: 20px;

    // fade near dropdown arrow
    @if $background-color != "" {
      text-align: right;
      background: linear-gradient(to right, rgba($background-color, 0), $background-color);
      z-index: 10;
    }
  }
}

@mixin modal-free-button {
  border: none;
  padding: 0;
  background-color: transparent;

  font-size: 20px;
  line-height: 20px;
}

@mixin remove-list-styles {
  padding-left: 0;
  list-style-type: none;
}

@mixin clickable {
  cursor: pointer;
}

input.flat {
  border: none;
  background: transparent;
}

.fakeh2 {
  @extend h2;
}

/********************************************************************/
/* Character view styles                                            */
/********************************************************************/

#chainable-list {
  @include remove-list-styles;

  li {
    padding: 0 10px;
    height: 30px;

    line-height: 30px;

    &:nth-of-type(odd) {
      background-color: #ccc;
    }
  }

  .chainable-name {
    float: left;

    font-weight: bold;
  }
  
  .chainable-value {
    @include clearfix;

    float: right;

    text-align: right;
  }
}
