$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}

@mixin flat-select($chrome-color, $background-color:"") {
  border-bottom: 1px solid $chrome-color;
  overflow: hidden;
  position: relative;
  color: $chrome-color;

  > select {
    width: 200px;
    padding: 0;
    border: none;
    background-color: transparent;
    float: left;
  }

  &::after {
    content: '\25BC';
    position: absolute;
    overflow: visible;
    display: block;
    right: 0;
    width: 20px;

    // fade near dropdown arrow
    @if $background-color != "" {
      text-align: right;
      background: linear-gradient(to right, rgba($background-color, 0), $background-color);
      z-index: 10;
    }
  }
}

@mixin modal-free-button {
  border: none;
  padding: 0;
  background-color: transparent;

  font-size: 20px;
  line-height: 20px;
}

@mixin remove-list-styles {
  padding-left: 0;
  list-style-type: none;
}

@mixin clickable {
  cursor: pointer;
}

@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

$infopanel-chrome-color: #111;

/* Character list */
#character-options {
  overflow: hidden;
  margin-bottom: 10px;

  > ul {
    @include remove-list-styles;

    > li {
      > div {
        width: 100%;
        text-align: center;
      }
    }
  }

  > #character-options-buttons {
    > .character-option {
      @include modal-free-button;
      font-size: 20px;
      width: 33.33%;
      float: left;

      text-align: center;
    }
  }

    > #character-list {
      @include flat-select($infopanel-chrome-color);

      margin-bottom: 10px;
    }

  > #character-json-data {
    overflow: auto;
    margin-top: 10px;
    border: 1px solid $infopanel-chrome-color;

    &.ng-enter {
      height: 0;
      transition: 0.3s ease-in-out all;
      
      &-active {
        height: 100px;
      }
    }

    > textarea {
      width: 100%;
      height: 100%;
      border: 0;
      background-color: transparent;
      resize: none;
    }
  }
}

/********************************************************************/
/* Stat Panel styles                                                */
/********************************************************************/

/* Ability and ability modifier styling */
$ability-names: (
  strength,
  dexterity,
  constitution,
  intelligence,
  wisdom,
  charisma
);

$ability-colors: (
  strength: #D46A6A,
  dexterity: #55AA55,
  constitution: #D49A6A,
  intelligence: #4F628E,
  wisdom: #764B8E,
  charisma: #D4D46A
);

$ratings: good better great awesome;

@mixin ability-backgrounds($color) {
  background-color: $color;
  
  &-modifier {
    background-color: lighten($color, 20);
  }
}

#infopanel {
  $table-border: 1px solid #fff;
  $table-row-height: 30px;

  width: 100%;

  > tbody {
    > tr {
      > td {
        height: $table-row-height;
        color: $infopanel-chrome-color;

        border: $table-border;

        line-height: 20px;
        font-size: 20px;
        text-align: center;
        font-weight: bold;

        @include clickable;
        
        > .chainable-name {
          display: block;
          width: 100%;
          height: 10px;

          border-top: $table-border;

          font-family: 'Arial Black', sans;
          font-weight: bold;
          font-size: 10px;
          line-height: 10px;
        }

        &:first-of-type {
          border-left: none;
        }

        &:last-of-type {
          border-right: none;
        }

        &.hp {
          color: #f00;
        }

        @for $i from 1 through length($ratings) {
          &.#{nth($ratings, $i)} {
            color: darken(#0f0, $i * 25);
          }
        }

        @each $name in $ability-names {
          &.#{$name} {
            background-color: map-get($ability-colors, $name);
            border: $table-border;

            font-size: $table-row-height;
            line-height: $table-row-height;

            &-modifier {
              background-color: lighten(map-get($ability-colors, $name), 20);

              font-size: $table-row-height;
              line-height: $table-row-height;

              > .chainable-name {
                display: none;
              }
            }

            > .chainable-name {
              display: block;
              width: 16px;
              height: $table-row-height;
              padding-left: 3px;
              padding-right: 3px;
              float: left;

              border-top: none;
              border-right: $table-border;

              word-wrap: break-word;
              text-align: center;
            }
          }
        }
      }

      &:first-of-type > td {
        border-top: none;
      }

      &:last-of-type > td {
        border-bottom: none;
      }

      &#chainable-add {
        > td {
          input[type=text] {
            width: 100%;
            border: 0;
            border-bottom: 1px solid #000;
          }

          > button {
            @include modal-free-button;
          }
        }
      }
    }
  }
}

//////////////////////////////////////////////////
// ChainLink section styles
//////////////////////////////////////////////////

#chainlinks {
  $arrow-body-height: 30px;
  $arrow-tip-height: 10px;
  $arrow-width: 30px;
  $arrow-color: #4f4;
  $arrow-overlap: 0px;
  $chain-link-height: 60px;
  $chain-link-spacing: 30px;
  $chain-link-padding: 10px;
  $chain-link-color: #ccc;
  $transition-timing-function-enter: ease-out;
  $transition-timing-function-move: ease;
  $transition-timing-function-leave: ease-out;
  $stagger-delay: 0.1s;
  @mixin animation-stagger($event) {
    &.ng-stagger-#{$event} {
      transition-delay: $stagger-delay;
    }
  }

  > ul {
    @include remove-list-styles;
    @include clearfix;

    > li {
      position: relative;
      display: block;
      height: $chain-link-height;
      background-color: $chain-link-color;
      padding: $chain-link-padding;
      margin-bottom: $chain-link-spacing;
      border-radius: 10px;

      text-align: center;
      font-weight: bold;
      color: #fff;

      > .chainlinkresult {
        display: block;
        position: absolute;
        bottom: $arrow-body-height * -1 + $arrow-overlap;
        left: 50%;
        width: $arrow-width;
        height: $arrow-body-height;
        margin-left: ($arrow-width/-2);
        line-height: $arrow-body-height;
        background-color: $arrow-color;
        z-index: 10;

        /* Lil triangles to make an arrow */
        &::before {
          content: ' ';
          display: block;
          position: absolute;
          bottom: 100%;
          width: 0;
          height: 0;
          border-left: $arrow-width/2 solid $arrow-color;
          border-right: $arrow-width/2 solid $arrow-color;
          border-top: $arrow-tip-height solid transparent;
        }
        &::after {
          content: ' ';
          display: block;
          position: absolute;
          top: $arrow-body-height;
          width: 0;
          height: 0;
          border-left: $arrow-width/2 solid transparent;
          border-right: $arrow-width/2 solid transparent;
          border-top: $arrow-tip-height solid $arrow-color;
        }
      }

      /* Animation for chainlinks */
      $enter-duration: 1s;
      $move-duration: 0.5s;
      $leave-duration: 1s;

      &.ng-enter {
        transition: all $enter-duration $transition-timing-function-enter;
        height: 0px;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;

        &-active {
          height: $chain-link-height;
          padding-top: $chain-link-padding;
          padding-bottom: $chain-link-padding;
          margin-bottom: $chain-link-spacing;
        }

        @include animation-stagger(enter);
      }

      &.ng-move {
        transition: 0.3s $transition-timing-function-move all;
        @include animation-stagger(move);
      }

      &.ng-leave {
        transition: $leave-duration $transition-timing-function-leave all;
        height: $chain-link-height;
        padding-top: $chain-link-padding;
        padding-bottom: $chain-link-padding;
        margin-bottom: $chain-link-spacing;

        > .chainlinkresult {
          display: none;
        }

        &-active {
          height: 0;
          padding-top: 0;
          padding-bottom: 0;
          margin-bottom: 0;
        }

        @include animation-stagger(leave);
      }

      &#chain-link-management {
        text-align: left;
        height: auto;

        > #add-container {
          > #new-chain-link-type {
            @include flat-select(#fff, $chain-link-color);

            > select {
              width: 200px;
            }
          }

          > button {
            @include modal-free-button;
            padding-left: 10px;

            float: right;
          }
          
          > #new-chain-link-props {
            margin-top: 10px;
          }
        }

        input[type=text], input[type=number] {
          width: 100%;
          border: 0;
          border-bottom: 1px solid #fff;
          background-color: transparent;

          &.number {
            width: 50px; // TODO: this is completely arbitrary and should
            // probably be made more fluid
            text-align: right;
          }
        }
      }
    } // /li
  } // /ul
} // /chainlinks
