<div class="row">
  <div class="col-xs-12">
    <h1>{{character.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 col-sm-push-5">
    Character RPG info
  </div>
  <div class="col-sm-5 col-sm-pull-4">
    <ul id="chainable-list">
      <li ng-repeat="chainable in character.chainables">
        <a ng-href="#/characters/{{character.name}}/chainables/{{chainable.name}}">
          <span class="chainable-name">{{chainable.name}}</span>
        </a>
        <span class="chainable-value">{{chainable.getFinal()}}</span>
      </li>
    </ul>
  </div>
</div>
