<div class="row">
  <div class="col-md-12">
    <h2>Characters</h2>
  </div>
</div>
<div class="row" id="infocontainer">
  <div class="col-sm-3" id="characterlist">
    <ul>
      <li ng-repeat="character in characters">
        <div ng-class="{'selected-character': character.selected}" ng-click="selectCharacter($index)">{{character.name}}</div>
      </li>
    </ul>
  </div>
  <div class="col-sm-3" id="infopanel" ng-hide="selectedCharacter === null">
    <ul>
      <li class="ability ability-{{ability.name}}" ng-repeat="ability in selectedCharacter.abilities">
        {{ability.getFinal()}}
      </li>
    </ul>
  </div>
  <div class="col-sm-3">
  &nbsp;
  </div>
  <div class="col-sm-3">
  &nbsp;
  </div>
</div>
