<div class="row">
  <div class="col-md-12">
    <h2>Characters</h2>
  </div>
</div>
<div class="row" id="infocontainer">
  <div class="col-sm-3">
    <div id="character-options">
      <div id="character-list">
        <select ng-options="character.name for character in characters" ng-model="selectedCharacter">
        </select>
      </div>
      <button class="character-option">
        <span class="glyphicon glyphicon-floppy-open character-option"></span>
      </button>
      <button class="character-option" ng-click="deleteCurrentCharacter()">
        <span class="glyphicon glyphicon-trash character-option"></span>
      </button>
      <button class="character-option">
        <span class="glyphicon glyphicon-floppy-save character-option"></span>
      </button>
    </div>
    <table id="infopanel">
      <tr ng-repeat="row in filledStatDisplayTemplate"
          ng-init="i = $index">
        <td
          ng-repeat="chainable in row"
          ng-click="selectChainable(chainable.name)"
          ng-init="j = $index"
          class="{{getApplicableClasses(chainable.name)}}"
          colspan="{{isNonTemplateStat(i*3+j) ? 3 : 1}}">
          {{chainable.getFinal()}}
          <span class="chainable-name" ng-if="getDisplayName(chainable.name) !== null">{{getDisplayName(chainable.name)}}</span>
        </td>
      </tr>
      <tr id="chainable-add">
        <td colspan="2">
          <input type="text" placeholder="new chain" ng-model="newChainableName">
        </td>
        <td colspan="1">
          <button ng-click="addNewChainable()">
            <span class="glyphicon glyphicon-plus">
          </button>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-sm-3" id="chainlinks">
    <ul>
      <li ng-hide="(selectedChainable.startChain === null)">
        {{selectedChainable.startChain.name}}
        <span class="chainlinkresult">{{selectedChainable.startChain.getFinal()}}</span>
      </li>
      <li ng-repeat="tuple in selectedChainable.chainTuples">
        {{tuple[0].name}}
        <span class="chainlinkresult">{{tuple[2]}}</span>
      </li>
      <li id="chain-link-management">
        <div id="add-container">
          <button ng-click="addChainLink()">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
          <div id="new-chain-link-type">
            <select ng-model="newChainLinkType" ng-options="link.typeName for link in addableChainLinkTypes">
              <option disabled selected style="display:none" value="">link type</option>
            </select>
          </div>
          <div id="new-chain-link-props">
            <div ng-repeat="prop in newChainLinkType.props">
              {{prop.name}}:
              <input type="text"
                ng-if="prop.type === 'number'"
                ng-model="prop.value"
                class="number"
                placeholder="{{prop.example}}">
              <input type="text"
                ng-if="prop.type === 'text'"
                ng-model="prop.value"
                class="text"
                placeholder="{{prop.example}}">
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-sm-3">
  &nbsp;
  </div>
  <div class="col-sm-3">
  &nbsp;
  </div>
</div>
