<div class="row">
  <div class="col-md-12">
    <h2>Characters</h2>
  </div>
</div>
<div class="row" id="infocontainer">
  <div class="col-sm-3" id="characterlist">
    <ul>
      <li ng-repeat="character in characters">
        <div ng-class="{'selected-character': character.selected}" ng-click="selectCharacter($index)">{{character.name}}</div>
      </li>
    </ul>
    <ul id="infopanel">
      <li
        ng-repeat="chainable in selectedCharacter.chainables"
        ng-click="selectChainable($index)"
        class="{{getApplicableClasses(chainable.name)}}">
        <span class="stat-abbr" ng-if="getAbbreviation(chainable.name) !== null">{{getAbbreviation(chainable.name)}}</span>
        {{chainable.getFinal()}}
      </li>
    </ul>
  </div>
  <div class="col-sm-3" id="chainlinks">
    <ul>
      <li ng-hide="(selectedChainable.startChain === null)">
        {{selectedChainable.startChain.name}}
        <span class="chainlinkresult">{{selectedChainable.startChain.getFinal()}}</span>
      </li>
      <li ng-repeat="link in selectedChainable.chainLinks">
        {{link.name}}
        <span class="chainlinkresult">{{selectedChainableIntermediaries[$index]}}</span>
      </li>
    </ul>
  </div>
  <div class="col-sm-3">
  &nbsp;
  </div>
  <div class="col-sm-3">
  &nbsp;
  </div>
</div>
